@charset "utf-8";

/* Basic Body Structure */
body {
    background: #303030;
    color: #efefef;
    line-height: 1.4;
    margin: 0;
    overflow-x: hidden;
    word-wrap: break-word;
}

#body_home {
    bottom: 0;
    left: 0;
    padding: 2em 0 4px;
    position: absolute;
    right: 0;
    top: 0;
}

body[type*=server] #body_home {
    padding: 2px 0;
}

.message,
.sender,
.time {
    padding: 4px 8px 3px;
}

.message {
    max-width: 90%;
    width: 100%;
}

.sender {
    background: #3c3c3c;
    font-weight: 600;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
	cursor: pointer;
}

body[type*=server] .sender { display: none; }

.time {
    text-align: right;
    color: #888;
    font-size: 0.8em;
    line-height: 1.8;
    white-space: nowrap;
}

.line {
    display: -webkit-flex;
    -webkit-flex-flow: row;
}

div[type=action] .message:before,
div[type=action] .message:after {
	content: "●";
}

.line[type*=action] .message,
.line[type*=action] .sender {
    font-style: italic;
}

body[type*=channel] .event {
    background: #262626;
}

body[type*=channel] .event .message {
    color: #666;
    font-size: 9px;
    line-height: 1;
}

body[type*=channel] .event .time, body[type*=channel] .event .sender {
    line-height: 1;
}

div[type=kick] .message:before,
div[type=part] .message:before,
div[type=quit] .message:before {
    content: '←';
	color: #e00;
}

div[type=join] .message:before {
    content: '→';
	color: #0c0;
}

div[type=nick] .message:before {
    content: '\2022 ';
}

body[type*=server] .event .message {
    color: #5f5f5f;
    font-size: inherit;
    padding-right: 2em;
}

body[type*=server] .event .message:before {
    content: ' ';
}

.event .sender {
    background: inherit;
}

.text:hover,
body[type*=server] .line:hover {
    outline: 1px solid #666;
}

.text:hover .message,
.text:hover .sender,
.text:hover .time,
body[type*=server] .line:hover .sender[type*=myself],
body[type*=server] .line:hover .message,
body[type*=server] .line:hover .time {
    background-color: #737373 !important;
    color: #fff;
}

/* Highlight */
.text[highlight*=true],
.text[highlight*=true] .message,
.text[highlight*=true] .sender,
.text[highlight*=true] .time,
.text[highlight*=true]:hover .message,
.text[highlight*=true]:hover .sender,
.text[highlight*=true]:hover .time {
	color:#000 !important;
	font-weight:bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#D6FF88), color-stop(0.8, #738949));
	-webkit-box-shadow: 0px 1px 0px #777;
}

.text[highlight*=true] + .text[highlight*=true] {
    border-top: none;
}

/* ZNC Playback */

.znc-playback-end {
    border-bottom: 1px dashed #9f9f9f;
}

.znc-playback-start {
    border-top: 1px dashed #9f9f9f;
}

/* kill stuff */
.mode,
.topic,
.website,
.disconnect,
.dominus-join,
.dominus-quit,
.dominus-part,
.dominus-nick/*,
.quit-query,
.join-query */{
  display: none;
}

/* Links */
a {
  color: #00e;
  text-decoration: none;
  border-bottom: dotted 1px #00e;
}

a:hover {
  color: #8cb3ff;
  border: none;
  border-bottom: solid 1px #8cb3ff;
}

/* Remember Line */
#mark {
	position: relative;
	border-bottom: 1px dashed;
	z-index: 295;
	margin-top: -1px;
	border-color: #c33;
	-webkit-transition: 0.2s linear;
	font-size:1px;
}

/* message playback */
.historic 
{
    opacity: 0.8 !important;
/* Scrolling */

body[customscroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[customscroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[customscroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[customscroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[customscroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Loading Screen */
body div#loading_screen {
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -150px;
    width: 300px;
    height: 21px;
    font-size: 18px;
    background: #181818;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    opacity: 1; /* Set by JavaScript */
    -webkit-transition: opacity 0.8s linear;
}

/* Topic Bar */
#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-weight:bold;
  text-align:center;
  z-index: 400;
  opacity: 0 !important;
  font-size: 12px;
  position: fixed;
  padding: 2px 0.5em 3px;
  box-shadow: 0 1px 5px #777;
  border-bottom: 1px solid #61778F;
  text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
  background: -webkit-linear-gradient(top, #A2B0D0 0%, #7385AD 100%);
  -webkit-transition: opacity 0.8s linear;
  text-overflow: ellipsis;
  /*-webkit-box-shadow: 0 1px 5px #777;*/
  -webkit-box-shadow: 0px 1px 0px #111;
  -webkit-border-top-left-radius:8px 12px;
  -webkit-border-bottom-left-radius:8px 12px;
  -webkit-border-top-right-radius:8px 12px;
  -webkit-border-bottom-right-radius:8px 12px;
  margin-left: 20px;
  margin-right: 20px;
}


#topic_bar a,
#topic_bar span.channel {
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
}


#topic_bar:hover {
	opacity: 0.95 !important;
  
}

/* Images */
body a img {
  border: 0;
}

body video,
body img {
	display: block;
}
.inlineImageCell {
	position: relative;
	display: table;
	overflow: auto;
	width: auto;
	height: auto;
}

.inlineImageCell > a {
	display: inline-block;
	border: none;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin: 15px 15px 12px 10px;
	min-width: 100px;
}

.inlineImageCell .closeButton {
	background: #000000;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	box-sizing: border-box;
	font-size: 20px !important;
	font-family: "Helvetica Neue" !important;
	font-weight: 100 !important;
	text-align: center;
	line-height: 17px;
	color: #f2f2f2;
	border: 2px solid #f2f2f2;
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
}

 /* Nickname Colors */
 /* all in colors.css */

body .inline_nickname {
    font-weight: 600;
}

/* myself Colors */

body .text .sender[type*=myself]{
	color:#fff;
	background:#823f47;
}
